# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto eol=lf

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.c text
*.h text
*.java text
*.js text
*.jsx text
*.ts text
*.tsx text
*.json text
*.css text
*.html text
*.md text
*.sql text
*.yml text
*.yaml text
*.properties text
*.xml text
*.gradle text

# Scripts
gradlew text eol=lf
*.sh text eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf

# Denote all binary files that should not be modified by Git
*.jar binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text
*.pdf binary
*.woff binary
*.woff2 binary
*.eot binary
*.ttf binary
